<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar persona</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .bg-light-custom {
            background-color: #ffffff;
            border-radius: 15px;
            padding: 30px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            width: 100%;
        }
        .form-control {
            border-radius: 10px;
        }
        .btn-custom {
            border-radius: 20px;
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <section class="d-flex align-items-center justify-content-center">
        <div class="bg-light-custom p-4 rounded">
            <h1 class="text-center mb-4 text-info">Actualizar persona</h1>
            <p class="text-center text-secondary">{{message}}</p>
            <form  action="/persons/update" id="updatePersonForm">
                <div class="mb-3">
                    <label for="IDperson" class="form-label">ID de la persona para actualizar:</label>
                    <input type="number" class="form-control" id="IDperson" name="ID_person_act" required>
                </div>
                <div class="mb-3">
                    <label for="personName" class="form-label">Nombre de la persona:</label>
                    <input type="text" class="form-control" id="personName" name="name" placeholder="Juan">
                </div>
                <div class="mb-3">
                    <label for="lastnamePerson" class="form-label">Apellidos de la persona:</label>
                    <input type="text" class="form-control" id="lastnamePerson" name="lastname" placeholder="Flores">
                </div>
                <div class="mb-3">
                    <label for="phonePerson" class="form-label">Teléfono:</label>
                    <input type="number" class="form-control" id="phonePerson" name="phone" placeholder="771 000 000">
                </div>
                <div class="mb-3">
                    <label for="rolePerson" class="form-label">ID del rol de la persona:</label>
                    <input type="number" class="form-control" id="rolePerson" name="ID_rol">
                </div>
                <div class="text-center mt-4">
                    <a href="http://localhost:3000/persons/getPersons" class="btn btn-secondary btn-custom mr-2">Volver</a>
                    <input type="submit" value="Actualizar" class="btn btn-primary btn-custom">
                </div>
            </form>
        </div>
    </section>

    <script>
        document.getElementById('updatePersonForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);
            const ID_person_act = formData.get('ID_person_act');

            const personData = {};
            formData.forEach((value, key) => {
                if (value) {
                    personData[key] = value;
                }
            });

            try {
                const response = await fetch(`http://localhost:3000/persons/${ID_person_act}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(personData)
                });

                if (!response.ok) {
                    throw new Error('Error al actualizar a la persona');
                }

                const result = await response.json();
                console.log('Persona actualizada', result);
                alert('Persona actualizada con éxito');
            } catch (error) {
                console.error('Error:', error);
                alert('Hubo un problema al actualizar a la persona');
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>
